@model AppUser
@{
    ViewData["Title"] = "Trang cá nhân";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header content-between">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h2>Trang cá nhân</h2>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content-between">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <partial name="/Views/Shared/_Profile.cshtml" />
                </div>
                <!-- /.col -->
                <div class="col-md-8">
                    <div class="card card-border">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#member-posts" data-toggle="tab">Bài viết</a></li>
                                <li class="nav-item"><a class="nav-link" href="#member-notifi" data-toggle="tab">Thông báo</a></li>
                                <li class="nav-item"><a class="nav-link" href="#member-behavior" data-toggle="tab">Tương tác</a></li>
                                <li class="nav-item"><a class="nav-link" href="#member-create-post" data-toggle="tab">Bài viết mới</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="member-posts">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <button class="btn btn-primary-custom" id="btn-create-post"><i class="fa-plus mr-2"></i><span>Bài viết mới</span></button>
                                        </div>
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            <div class="col-md-12 mb-3">
                                                <div class="card card-border shadow">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <div class="card card-border card-post">
                                                                <div class="card-header">
                                                                    <a class="card-title" asp-controller="Home" asp-action="Post">Các nhà khoa học tiến hành thám hiểm một khu rừng cổ xưa 60 nghìn năm tuổi chìm dưới biển</a>
                                                                </div>
                                                                <div class="card-body card-info">
                                                                    <div class="card-info-first text-muted">
                                                                        <div class="status-post">Đã đăng</div>
                                                                        <div class="date-post">09/04/2020</div>
                                                                    </div>
                                                                    <div class="card-info-second">
                                                                        <div class="categories-post">Technology | Business</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 card-tool">
                                                            <a title="Xem bài viết" class="btn-tool detail-post" asp-controller="Home" asp-action="Post"><i class="fa fa-eye"></i></a>
                                                            <a title="Sửa bài viết" class="btn-tool edit-post" href="#"><i class="fa fa-edit"></i></a>
                                                            <a title="Xóa bài viết" class="btn-tool delete-post" href="#"><i class="fa fa-trash"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane" id="member-notifi">

                                </div>
                                <div class="tab-pane" id="member-behavior">

                                </div>
                                <div class="tab-pane" id="member-create-post">
                                    <partial name="/Views/Shared/_Editor.cshtml" />
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!--Dialog xóa bài viết-->
                            <div id="dialog-delete-post" class="dialog" title="Xóa bài viết ?">
                                <div><i class="fa fa-question-circle"></i><span>Bạn có chắc chắn muốn xóa bài viết này ?</span></div>
                            </div>
                            <!--Dialog tác vụ thành công, thất bại-->
                            <div id="dialog-action-status" class="dialog">
                                <div><i class="fa fa-info-circle"></i><span id="dia-content"></span></div>
                            </div>                            
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section Styles{
    <style>
        :root {
            --primary-color: var(--info-color);
        }
    </style>
    <link href="~/lib/bootstrap-select-1.13.14/dist/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/css/Manager/manager.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="~/lib/bootstrap-select-1.13.14/js/bootstrap-select.js"></script>
    <script src="~/js/editor.js"></script>
    <script src="~/js/member.js"></script>
}
