
@{
    Layout = "_ManagerLayout";
    ViewData["Title"] = "Trang cá nhân";
    ViewData["Header"] = "Trang cá nhân";
}
<div class="card">
    <div class="card-header p-2">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link active" href="#posts" data-toggle="tab">Thông báo</a></li>
            <li class="nav-item"><a class="nav-link" href="#posts" data-toggle="tab">Bài viết</a></li>
            <li class="nav-item"><a class="nav-link" href="#posts" data-toggle="tab">Tương tác</a></li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content">
            <div class="active tab-pane" id="posts">
                <!-- Post -->
            </div>
            <!-- /.tab-pane -->
        </div>
    </div><!-- /.card-body -->
</div>
<!-- /.nav-tabs-custom -->                
@section Styles{
    <style>
        :root {
            --primary-color: var(--warning-color);
        }
    </style>
    <link href="~/css/Manager/manager.css" rel="stylesheet" />    
}
