@model  AppUser
@{    
    ViewData["Title"] = "Trang cá nhân";        
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header content-between">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h2>Trang cá nhân</h2>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content-between">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <partial name="/Views/Shared/_Profile.cshtml" />
                </div>
                <!-- /.col -->
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#posts" data-toggle="tab">Thông báo</a></li>
                                <li class="nav-item"><a class="nav-link" href="#employees" data-toggle="tab">Nhân viên</a></li>
                                <li class="nav-item"><a class="nav-link" href="#members" data-toggle="tab">Thành viên</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="posts">
                                    <!-- Post -->
                                </div>
                                <div class="tab-pane" id="employees">
                                    <div class="text-danger" asp-validation-summary="All"></div>
                                    <table class="table table-custom" id="tbl-employee">
                                        <thead>
                                            <tr>
                                                <th>Họ và tên</th>
                                                <th>Nickname</th>
                                                <th>Giới tính</th>
                                                <th>Email</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <a class="btn btn-custom bg-theme text-white float-right" href="#members" data-toggle="tab">Thêm nhân viên</a>
                                </div>
                                <div class="tab-pane" id="members">
                                    <div class="text-danger" asp-validation-summary="All"></div>
                                    <table class="table table-custom" id="tbl-member">
                                        <thead>
                                            <tr>
                                                <th>Họ và tên</th>
                                                <th>Nickname</th>
                                                <th>Giới tính</th>
                                                <th>Email</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                        </div><!-- /.card-body -->
                    </div>
                    <!--Dialog delete employee-->
                    <div id="dialog-delete-employee" class="dialog" title="Xóa nhân viên ?">
                        <div><i class="fa fa-question-circle"></i><span>Bạn có chắc chắn muốn xóa nhân viên <b id="dia-employee-name"></b> ?</span></div>
                        <div class="ui-group-button">
                            <button class="ui-button mr-3" id="dia-del-confirm">Xác nhận</button>
                            <button class="ui-button" id="dia-del-cancel">Hủy bỏ</button>
                        </div>
                    </div>
                    <!--Dialog add employee-->
                    <div id="dialog-add-employee" class="dialog" title="Thêm nhân viên ?">
                        <div><i class="fa fa-question-circle"></i><span>Bạn có chắc chắn muốn thêm <b id="dia-member-name"></b> thành nhân viên ?</span></div>
                        <div class="ui-group-button">
                            <button class="ui-button mr-3" id="dia-add-confirm">Xác nhận</button>
                            <button class="ui-button" id="dia-add-cancel">Hủy bỏ</button>
                        </div>
                    </div>
                    <!--Dialog block member-->
                    <div id="dialog-block-member" class="dialog" title="Chặn thành viên ?">
                        <div><i class="fa fa-question-circle"></i><span>Bạn có chắc chắn muốn chặn thành viên <b id="dia-member-name"></b> ?</span></div>
                        <div class="ui-group-button">
                            <button class="ui-button mr-3" id="dia-block-confirm">Xác nhận</button>
                            <button class="ui-button" id="dia-block-cancel">Hủy bỏ</button>
                        </div>
                    </div>
                    <!--Dialog unblock member-->
                    <div id="dialog-unblock-member" class="dialog" title="Bỏ chặn thành viên ?">
                        <div><i class="fa fa-question-circle"></i><span>Bạn có chắc chắn muốn bỏ chặn thành viên <b id="dia-member-name"></b> ?</span></div>
                        <div class="ui-group-button">
                            <button class="ui-button mr-3" id="dia-unblock-confirm">Xác nhận</button>
                            <button class="ui-button" id="dia-unblock-cancel">Hủy bỏ</button>
                        </div>
                    </div>
                    <!--Dialog detail-->
                    <div id="dialog-detail" class="dialog" title="Thông tin chi tiết">
                        <div class="data-group">
                            <strong>Họ và tên: </strong><span id="dia-fullname"></span>
                        </div>
                        <div class="data-group">
                            <strong>Nickname: </strong><span id="dia-nickname"></span>
                        </div>
                        <div class="data-group">
                            <strong>Email: </strong><span id="dia-email"></span>
                        </div>
                        <div class="data-group">
                            <strong>Giới tính: </strong><span id="dia-gender"></span>
                        </div>
                        <div class="data-group">
                            <strong>Nghề nghiệp: </strong><span id="dia-job"></span>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
@section Scripts{
    <script src="~/js/admin.js"></script>
}
@section Styles{
    <style>
        :root {
            --primary-color: var(--theme-color);
        }
    </style>
    <link href="~/css/Manager/manager.css" rel="stylesheet" />
}
