<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card o-hidden border-0">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <div class="text-center">
                                <h1 class="h4 text-gray mb-4">Bài viết mới</h1>
                            </div>
                            <div class="text-danger ml-3" asp-validation-summary="ModelOnly"></div>
                            <form class="new-post mt-3" method="post">
                                <div class="form-group">
                                    <input class="form-control" id="InputTitle" placeholder="Tiêu đề">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="InputCategory" placeholder="Thể loại">
                                </div>
                                <div class="form-group">                                    
                                    <textarea rows="50" class="form-control ck-editor" id="InputContent" placeholder="Nhập nội dung bài viết của bạn vào đây..."></textarea>
                                </div>
                                <button class="btn" id="btn-submit-editor" type="submit">Gửi bài viết</button>
                            </form>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>