:root {
    --theme-color: #ff3f3f;
    --border-color: #d0cfcf;
    --item-background-color: #e8e8e8;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --text-font: 'Josefin Sans', sans-serif;
    --text-color: #222;
}
hr {
    border-bottom: 0.5px solid var(--border-color);
}

i {
    font-style: normal;
}
.bg-theme {
    background-color: var(--theme-color);
}
.btn-custom {
    border-radius: 20px !important;
    border: 1px solid var(--border-color);
    color: white;
    padding: 10px;
}

    .btn-custom:focus {
        color: white;
        text-decoration: none;
    }