@model IEnumerable<PostViewModel>
@{
    ViewData["Title"] = "Home";
    ViewData["Home"] = "active";    
}
<div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-md-8">
        <div class="container">
            <partial name="/Views/Shared/_Posts.cshtml" />
            <!-- Pagination -->
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-template d-flex justify-content-center" id="pagination-home">
                    @*<li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                    <li class="page-item"><a href="#" class="page-link active">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-right"></i></a></li>*@
                </ul>
            </nav>
        </div>
    </main>
    <partial name="/Views/Shared/_Utility.cshtml" />
</div>
@section Styles{
    <link href="~/css/Shared/utility.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/js/home.js"></script>
}