.content-between{
    margin-top:15px;
}
/*Card custom*/
.card-theme{   
    border-top:3px solid var(--primary-color)!important;
    margin-bottom:20px;
    box-shadow:3px 3px 5px rgba(0,0,0,0.4);
} 
    .card-theme .card-header{        
        background-color:var(--primary-color);
    }
        .card-theme .card-header .card-title{
            color:white;
            margin-bottom:0;
        }
a{
    color: var(--text-color);
}

a:hover {
    text-decoration: none;    
}

a:focus {
    color: var(--text-color);
    text-decoration: none;
}
.card-border{
    border-color:var(--border-color);
    border-radius:0;
}
.card-post{
    border-top:0;
    border-bottom:0;
    border-left:0;
}    
    .card-post .card-header{
        color:var(--text-color);
        background-color:white;
    }   
        .card-post .card-header .card-title{
            line-height:unset;
            margin:0;
            font-weight:bold;
        }
        .card-post .card-header .card-title:hover{
            color:var(--primary-color);
        }
.card-info{
    display:flex;
    justify-content:space-between;
    align-items:center;    
}
    .card-info-first{
        display:flex;
    }
        .card-info-first .status-post, .card-info-first .date-post {
            padding-right:5px;
            padding-left:5px;            
        }
        .card-info-first .status-post {
            border-right: 1px solid var(--border-color);
        }
    .card-info-second {
        
    }
        .card-info-second .categories-post{
            color:var(--theme-color);
            font-weight:bold;
        }
.card-tool{
    display:flex;
    align-items:center;
    justify-content:center; 
    flex-direction:column; 
    padding:0; 
    padding-right:30px;
}
.btn-tool {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    background-color: white;
    color: var(--primary-color);
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    width: 100%;     
}
    .btn-tool:hover {
        color:white;
        background-color: var(--primary-color);
        font-weight:bold;
        text-decoration:none;
    }
/*Navigation bar*/
.nav{

}
    .nav .nav-item{

    }
        .nav .nav-item .nav-link{
            color:black;
        }        
        .nav .nav-item .active {
            color:white;
            background-color:var(--primary-color);
        }

/*Avatar*/
.profile-user-img {
    border: 3px solid var(--border-color);
    margin: 0 auto;
    padding: 3px;
    width: 150px;
}
.img-circle{    
    border-radius:50%;
}
/*Name*/
.profile-username {    
    margin-top: 5px;
}
/*List group*/
.list-group-unbordered > .list-group-item {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
    border-color:var(--border-color);
}
#btn-submit-editor{
    background-color:var(--primary-color);
    color:white;
    float:right;
    border-radius:unset;
}
#btn-submit-editor:hover{
    color:black;
}


