.shadow-custom{
    box-shadow:3px 3px 15px rgba(0,0,0,0.3);
}
form.user{

}
    form.user input{
        border-radius:20px;
        border:1px solid var(--border-color);
    }
.btn-custom{
    border-radius:20px!important;
    border:1px solid var(--border-color);
    color:white;
    padding:10px;
}
.btn-custom:focus{
    color:white;
    text-decoration:none;
}
.bg-theme{
    background-color:var(--theme-color);
}
.bg-google {
    background-color: #ea4335;
}
.bg-facebook {
    background-color: #3b5998;
}
hr{
    border-bottom:0.5px solid var(--border-color);
}
i{
    font-style:normal;
}

